<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.Init.mapper.AttendanceMapper">
	<!-- 모든 시간 정보 조회 -->
	<select id="getAllCheckTime"
		resultType="com.Init.domain.AttendanceVO">
		SELECT check_in, check_out,
		workingoutside_time,
		return_time, working_time, night_work_time, special_working_time,
		workform_status
		FROM attendance_ch
		WHERE emp_id = #{emp_id}
	</select>



	<!--QR 출퇴근 -->
	<insert id="checkIn"
		parameterType="com.Init.domain.AttendanceVO">
		INSERT INTO attendance (emp_id, check_in)
		VALUES (#{emp_id}, NOW())
	</insert>

	<insert id="checkOut"
		parameterType="com.Init.domain.AttendanceVO">
		INSERT INTO attendance (emp_id, check_out)
		VALUES (#{emp_id}, NOW())
	</insert>





</mapper>